body{
	background-color: fuchsia;
	background-image: url(../images/ShowcaseTravelMagazine.jpeg); 
	background-attachment: fixed;
}
   .container{
   	width: 700px;
   	margin:0 auto;
   	background-color: yellow;
   	padding: 20px; 
}
   .container img{
   	width: 100%;

   }


	 






